{% extends 'base.html' %}
{% load static %}

{% block title %}
abel's blog: agriculture's IOT
{% endblock title %}

{% block content %}

<style>
    body{
        background-image: url('static/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        color: whitesmoke;
    }
    .card{
        background-color: rgba(0,0,0,0.7);
        border-radius: 0px !important;
    }
    a{
        color: whitesmoke;
        text-decoration: none;
    }
    a:hover{
        color: whitesmoke;
        
    }
</style>

<div class="m-5 p-5 col-6 mx-auto">
    <h1>blog</h1>
    
    <div>
        {% for blog_post in blog_posts %}
        <div class="card text-left my-3">
            <div class="card-header row">
                <a class="col" data-toggle="collapse" href="#{{blog_post.title}}" aria-expanded="true" aria-controls="test-block">
                    {{blog_post.number}} 
                </a>
                <a class="col m-0 text-right"  data-toggle="collapse" href="#{{blog_post.title}}" aria-expanded="true" aria-controls="test-block">
                    {{blog_post.title}}
                </a>
            </div>
            <div id="{{blog_post.title}}" class="collapse my-3 mx-3">
                <div class="card-block">
                    {{blog_post.date}}
                    <br />
                    {{blog_post.content | safe}}
                    <br />
                    {% if blog_post.embed %}
                    <div class="mt-5 mb-2">
                        <img src="{% static blog_post.embed %}" width="100%"/>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>   
        {% endfor %} 
    </div>

    
</div>

{% endblock content %}
