{% extends 'base.html' %}

{% block title %}abel's blog{% endblock title %}
{% block content %}

<style>
    body{
        background-image: url('static/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        color: whitesmoke;
    }
    .card{
        background-color: rgba(0,0,0,0.5);
        border-radius: 0px !important;
    }
    a{
        color: whitesmoke;
        text-decoration: none;
    }
    a:hover{
        color: whitesmoke;
        
    }
</style>

<div class="m-5 p-5 col-6 mx-auto">
    <h1>blog</h1>
    <p>welcome to my blog</p>

    <div>
        {% for blog_post in blog_posts %}
        <div class="card text-left my-3">
            <div class="card-header row">
                <a class="col" data-toggle="collapse" href="#{{blog_post.title}}" aria-expanded="true" aria-controls="test-block">
                    {{blog_post.number}}
                </a>
                <p class="col m-0 text-right">{{blog_post.title}}</p>
            </div>
            <div id="{{blog_post.title}}" class="collapse my-3 mx-3">
                <div class="card-block">
                    {{blog_post.content}}
                </div>
            </div>
        </div>   
        {% endfor %} 
    </div>

    
</div>

{% endblock content %}
